<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<style type="text/css">
		
		body{
			background-color: skyblue;
			padding: 40px;
		}
		h1{
			color:black;
			font-size: 80px;
			text-transform: uppercase;
			text-align: center;
		}
		p{
			font-size: 30px;
			color:black;
			text-align: center;
		}
	</style>
</head>
<body>
	<%-include("partials/nav.ejs")%>
	<h1>contact us</h1>
	<p>coming soon</p>
</body>
</html>