<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<%-include("partials/nav.ejs")%>
	<h1>contact us</h1>
	<p>coming soon</p>
</body>
</html>