	body{
			background-color: skyblue;
			padding: 40px;
		}
		h1{
			color:black;
			font-size: 80px;
			text-transform: uppercase;
			text-align: center;
		}
		p{
			font-size: 30px;
			color:black;
			text-align: center;
		}