<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<h1>
		thank you
	</h1>
	<p>you have contacted <%=person.who%></p>
	<p>	in the <%=person.department%></p>
	<p>we will contact you at <%=person.email%></p>
</body>
</html>