<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<h1>
		welcome to my website,i am ayush
	</h1>
	<form method="POST" action="/contact">
		<label for="who">who do you want to contact</label>
		<input type="text" name="who">
		<label for="department">which department</label>
		<input type="text" name="department">
		<label for="email">Enter your email</label>
		<input type="email" name="email">
		<input type="submit" value="submit">
	</form>
</body>
</html>