<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<h1>
		welcome to my website,i am ayush
	</h1>
	<p><strong>Age:</strong><%=data.age%></p>
	<p><strong>License:</strong><%=data.license%></p>
	<p><strong>hobby:</strong><%=data.hobby%></p>
</body>
</html>